* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-size: 15px;
  color: #000;
  background: #fff;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  /* max-width: 1100px; */
  margin: auto;
  background-color: #333;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 20px 0;
  font-size: 13px;
}

.main-nav .logo {
  width: 110px;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 10px;
}

.main-nav ul li a {
  padding-bottom: 2px;
}

.main-nav ul li a:hover {
  border-bottom: 1px solid #fff;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px;
  background: #fff;
  color: #000;
  font-size: 22px;
  border: 4px solid #000;
  border-radius: 25px;
  text-transform: uppercase;
}

.btn:hover {
  opacity: 0.9;
}

.showcase {
  width: 100%;
  height: 93vh;
  background: url("img/woman-using-a-smartphone-while-fronting-a-macbook-pro-and-196656\ \(1\).jpg")
    no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.container-1 {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
}

.counters .container-1 {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.counters {
  border-top: 2px #000 solid;
  border-bottom: 2px #000 solid;
  padding: 40px 20px;
}

.counters i {
  margin-bottom: 5px;
}

.counters .counter {
  font-size: 34px;
  margin: 8px 0;
}

.pricing {
  background: #333;
  color: #fff;
  height: 74vh;
}

.col {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.price-box {
  background: #333;
  color: #bbb;
  list-style-type: none;
  border: 1px solid #bbb;
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

.price-box:hover,
.price-box.best {
  box-shadow: 0 10px 15px 0 #000;
}

.price-box .header {
  background-color: #111;
  color: #fff;
  font-size: 25px;
}

.price-box li {
  padding: 20px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.price-box .emph {
  background-color: #f4f4f4;
  font-size: 20px;
}

.button {
  background-color: #90ee90;
  border: none;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

.pricing h2 {
  text-align: center;
  padding-top: 30px;
}

.price-box .header.header-black {
  background-color: #90ee90;
}

.pricing hr {
  background: #90ee90;
  border: none;
  height: 3px;
  margin: 1em auto;
  width: 3.125rem;
}

.footer {
  height: 69vh;
}

.footer h1 {
  text-align: center;
  margin-top: 24px;
}

.footer hr {
  background: red;
  border: none;
  height: 3px;
  margin: 1em auto;
  width: 3.125rem;
}

@media (max-width: 700px) {
  .col {
    width: 100%;
  }
}
